[Unit]
Description=My Telegram Bot
[Service]
User=root

WorkingDirectory=/root/telegram-bot

# Path to executable.
# Executable is a bash script which calls jar file
ExecStart=/root/telegram-bot/execute-jar.sh

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target